#submit-button {
    border: 5px solid black;
    border-radius: 10px;
    height: 4rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, lightblue, lightgreen);
    box-shadow: 4px 4px 4px black;
    transition: .5s;
}

#submit-button:hover {
    cursor: pointer;
    transform: translateY(5px);
}
#submit-text {
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 1rem;
}

